{{#each error}}
 <div class="d-flex justify-content-center alert alert-danger">{{text}}</div>
{{/each}}
<h3>Add Category :</h3>
<form action="/admin/category/new" method= "POST">
  <div class="card">
    <div class="card-body">
      <label for="name">Name:</label>
      <br>
      <input type="name" maxlength="15" name="name" value="{{name}}" required="true">
      <br>
      <label for="description">Description:</label>
      <input type="textarea" class="form-control" placeholder="Description here" name="description" id="description" maxlength="60" value="{{description}}" style="height: 50px">
      <button type="submit" class="btn btn-success mt-4"> Add Category </button>
      <a href="/admin/category"><button type="button" class="btn btn-secondary mt-4">Close</button></a>
    </div>
  </div>
</form>

