<h3>Edit Category :</h3>
  <div class="card d-flex justify-content-between">
    <div class="card-body ">
      <form class="form-control" action="/admin/category/edit" method= "POST">
          <input type="hidden" name="id" value="{{category.id}}">
          <label for="name">Name:</label>
          <br>
          <div class="col-sm-3">
            <input class="form-control" type="text" name="name" id="name" value="{{category.name}}" required>
          </div>
          <button type="submit" class="btn btn-success mt-4"> Edit </button>
      </form>
    </div>
  </div>
