<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">RPG Publicanos make your life easier.</h3>
        <p class="text-muted">To make your RPG games easier, modernize your table even in the most difficult hours, count on us.</p>
        <a href="/admin/createacont" class="btn btn-primary btn-lg">Create Account</a>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"></path>
            </svg>
          </div>
          <a style="text-decoration:none" href="/admin/rarity/">
            <h4 class="fw-semibold mb-0">List Rarity</h4>
            <p class="text-muted">Edit your rarities, create new ones, shape the game to your style.</p>
          </a>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill"></use>
            </svg>
          </div>
          <a style="text-decoration:none" href="/admin/category/">
            <h4 class="fw-semibold mb-0">List Category</h4>
            <p class="text-muted">Edit your categories, create new ones, shape the game to your style.</p>
          </a>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer"></use>
            </svg>
          </div>
          <a style="text-decoration:none" href="/admin/">
            <h4 class="fw-semibold mb-0">List Items</h4>
            <p class="text-muted">Edit your items, create new ones, shape the game to your style.</p>
          </a>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table"></use>
            </svg>
          </div>
          <a style="text-decoration:none" href="/admin/">
            <h4 class="fw-semibold mb-0">Create your Store</h4>
            <p class="text-muted">By creating your store with items of your choice, categories and rarities, you can choose and improve it makes your game much more dynamic.</p>
          </a>
        </div>
      </div>
    </div>
